* {
  box-sizing: border-box;
}
.cont_lecteur{
	position: relative;
	display: inline-block;
	width: 470px;
	height: 149px;
	border-radius: 10px;
	background-color: grey;

}
.img-song{
	position: relative;
	display: inline-block;
	width: 130px;
	height: 130px;
	background-color: white;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.8);
    top: 10px;
    left: 10px;
}

.control_lecteur{
	position: relative;
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
}

.img-son,.control_lecteur{
	vertical-align: top;
}

h3,h4{
	margin: 0;
}

.titre-song,h3{
	color: white;
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.group-btn{
	width: 100%;
}

/* ########## BOUTONS ########## */
.btn-prev,.btn-play, .btn-pause, .btn-next, .btn-stop{
	display: inline-block;
	vertical-align: middle;
	width:35px;
	height:35px;
}
.btn-prev {
	width:28px;
	height:28px;
	background-image:url('img/btn-back.png');
}
.btn-next {
	width:28px;
	height:28px;
	background-image:url('img/btn-next.png');
}
.btn-play {background-image:url('img/btn-play.png');}
.btn-pause {background-image:url('img/btn-pause.png');}
.btn-stop {background-image:url('img/btn-stop.png');}
div#listing {
  margin: 20px 0 0 0;
  padding: 20px;
  width: 470px;
  border-radius: 10px;
  background-color: grey;
}
div#listing select {
  width: 100%;
  padding: 10px 5px;
}
